name: .NET

on:
  push:
    branches: [ main ]
    paths:
      "./kimchi-ssg/.editorconfig"
  pull_request:
    branches: [ main ]



jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install dependencies
      run: dotnet build ./kimchi-ssg/kimchi-ssg.csproj
    - name: Run Formatter 
      run: |
        dotnet tool install --global dotnet-format --version 5.1.250
        dotnet-format --check ./kimchi-ssg/kimchi-ssg.sln
    - name: Run Linter 
      run: | 
        dotnet-format -a warn ./kimchi-ssg/kimchi-ssg.sln
    - name: Test
      run: dotnet test ./UnitTest/UnitTest.csproj
